@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;400;600&display=swap");
* {
  margin: 0;
  padding: 0; }

.fondo {
  height: 100%;
  width: 100%;
  background-image: url(../img/fondo.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.fondoDos {
  height: 100%;
  width: 100%;
  background-image: url(../img/pizarron.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

header {
  display: flex;
  background-image: url(../img/header.png);
  height: 70px; }
  header nav ul li {
    display: inline-block;
    margin-top: 12px; }
    header nav ul li a img {
      width: 45px;
      height: 45px;
      margin-left: 50px; }
  header P {
    color: black;
    font-family: 'Rokkitt', serif;
    font-size: 28px;
    margin-top: 15px;
    margin-left: 20px; }
  header .carrito {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 1500px; }

main .catalogo {
  display: flex;
  justify-content: center;
  align-items: center; }

/*-----INDEX-----*/
main .hero h1 {
  font-size: 50px;
  font-weight: 200px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  margin-top: 400px; }

main .hero h2 {
  font-size: 35px;
  font-weight: 10px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 5px;
  color: white;
  text-align: center; }

main .inicio h2 {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin-top: 470px; }

main section .muestras {
  margin-left: 100px;
  width: 350px;
  height: 350px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  main section .muestras img {
    width: 300px;
    height: 300px;
    margin-left: 250px; }
  main section .muestras p {
    width: 350px;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Rokkitt', serif;
    color: white;
    text-align: center;
    margin-left: 250px; }

main .texto h2 {
  font-size: 35px;
  font-weight: bold;
  font-weight: 200px;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  margin-top: 100px; }

main .texto p {
  font-size: 25px;
  font-weight: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  margin-bottom: 100px; }

main .catalogo {
  flex-wrap: wrap; }
  main .catalogo div {
    width: 350px;
    height: 450px;
    border: 5px solid #743a0c;
    margin: 40px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8c786; }
    main .catalogo div img {
      width: 340px;
      height: 300px; }
    main .catalogo div a {
      text-decoration: none;
      font-size: 25px;
      font-family: 'Rokkitt', serif;
      color: black;
      text-align: center; }

main .informacion h2 {
  font-size: 35px;
  font-weight: bold;
  font-weight: 200px;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  margin-top: 100px; }

main .informacion p {
  font-size: 25px;
  font-weight: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  margin-bottom: 100px; }

main .carrousel.inner {
  width: 90%;
  height: 500px;
  margin-left: 90px; }

main .carousel-inner iframe {
  width: 90%;
  height: 500px;
  margin-left: 90px; }

main .carousel-control-prev {
  width: 30%;
  height: 90%; }

main .carousel-control-next {
  width: 30%;
  height: 90%; }

/*-----CAMARAS/LENTES/LUCES/ACCESORIOS-----*/
main .card {
  background-color: #f8c786;
  border: 5px solid #743a0c;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px; }

main .card-contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  main .card-contenedor .card-img-top {
    width: 250px;
    height: 250px; }
  main .card-contenedor .card-title {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    font-weight: bolder; }
  main .card-contenedor .card-text {
    font-family: 'Rokkitt', serif;
    font-size: 18px; }

footer .pie {
  width: 100%;
  display: flex;
  justify-content: right;
  background-image: url(../img/header.png);
  height: 60px;
  margin-top: 4%; }
  footer .pie img {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 15px; }

/*----MEDIAQ----*/
/*----INDEX----*/
@media screen and (max-width: 1770px) {
  header {
    width: 100%; }
    header .carrito {
      margin-left: 1300px; } }

@media screen and (max-width: 1720px) {
  main section .muestras {
    margin-left: 100px;
    display: inline-block;
    align-content: center;
    justify-content: left; }
  main section .muestras img {
    margin-left: 0px; }
  main section .muestras p {
    margin-left: 0px; } }

@media screen and (max-width: 1655px) {
  header {
    width: 100%; }
    header .carrito {
      margin-left: 1100px; } }

@media screen and (max-width: 1465px) {
  header {
    width: 100%; }
    header .carrito {
      margin-left: 900px; } }

@media screen and (max-width: 1400px) {
  main section .muestras {
    margin-left: 50px;
    display: inline-block;
    align-content: center;
    justify-content: left; }
  main section .muestras img {
    margin-left: 0px; }
  main section .muestras p {
    margin-left: 0px; }
  main .carousel-inner {
    width: 90%;
    height: 400px;
    margin-left: 70px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 400px;
    margin-left: 70px; } }

@media screen and (max-width: 1260px) {
  header {
    width: 100%; }
    header .carrito {
      margin-left: 700px; }
  main section .muestras {
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  main section .muestras img {
    margin-top: 150px; }
  main section .muestras p {
    margin-top: 0px; } }

@media screen and (max-width: 1100px) {
  header .carrito {
    margin-left: 500px; }
  main .carousel-inner {
    width: 90%;
    height: 300px;
    margin-left: 50px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 300px;
    margin-left: 50px; } }

@media screen and (max-width: 960px) {
  header .carrito {
    margin-left: 300px; }
  main section .muestras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px; } }

@media screen and (max-width: 745px) {
  main .hero h1 {
    font-size: 40px;
    margin-top: 200px; }
  main .hero h2 {
    font-size: 25px; }
  main .inicio {
    font-size: 35px;
    margin-top: 350px; }
  main section .muestras {
    margin-left: 150px; }
  main .carousel-inner {
    width: 90%;
    height: 200px;
    margin-left: 30px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 200px;
    margin-left: 30px; } }

@media screen and (max-width: 700px) {
  header .carrito {
    margin-left: 200px; } }

@media screen and (max-width: 635px) {
  main section .muestras {
    display: inline-block;
    flex-direction: column; }
  main section .muestras img {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: 55px; } }

@media screen and (max-width: 565px) {
  header .carrito {
    margin-left: 50px; } }

@media screen and (max-width: 530px) {
  main .hero h1 {
    font-size: 30px;
    margin-top: 100px; }
  main .hero h2 {
    font-size: 20px; }
  main .inicio h2 {
    font-size: 25px;
    margin-top: 200px; }
  main section .muestras {
    display: inline-block;
    flex-direction: column;
    margin-left: 30px; }
  main section .muestras img {
    margin-top: 15px; }
  main .texto h2 {
    font-size: 25px; }
  main .texto p {
    font-size: 20px; }
  main .informacion h2 {
    font-size: 25px; }
  main .informacion p {
    font-size: 20px; }
  main .carousel-control-prev {
    width: 40%;
    height: 100%; }
  main .carousel-control-next {
    width: 40%;
    height: 100%;
    margin-right: 30px; }
  main .carousel-inner {
    width: 90%;
    height: 200px;
    margin-left: 10px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 200px;
    margin-left: 10px; } }

@media screen and (max-width: 408px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 210px; }
    header nav ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 0px; }
      header nav ul li a img {
        margin-left: 0px; }
    header p {
      margin-left: 0px; }
    header .carrito {
      margin-left: 260px; }
  main section .muestras {
    display: inline-block;
    flex-direction: column;
    margin-left: 0px; }
  main section .muestras img {
    margin-top: 15px; }
  main section .muestras p {
    font-size: 20px; } }

@media screen and (max-width: 360px) {
  header {
    justify-content: left; }
    header nav ul li {
      justify-content: left;
      margin-top: 10px; }
      header nav ul li a img {
        margin-left: 0px; }
    header p {
      margin-left: 0px; }
    header .carrito {
      margin-left: 150px; }
  main section .muestras {
    width: 250px;
    height: 250px;
    display: inline-block;
    flex-direction: column;
    margin-left: 0px; }
  main section .muestras img {
    margin-top: 15px;
    width: 200px;
    height: 200px; }
  main section .muestras p {
    width: 250px;
    height: 80px;
    font-size: 25px; }
  main .catalogo div {
    width: 250px;
    height: 450px; }
    main .catalogo div img {
      width: 240px;
      height: 300px; } }

/*en la mediaq de 360px no logro entender porque se me empieza a romper el header, ya modifique 
todo pero me sigue pasando*/
/*-----CAMARAS-----*/
@media screen and (max-width: 1200px) {
  main .card-contenedor {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px; } }

@media screen and (max-width: 1050px) {
  main .card-contenedor {
    margin-left: 300px; } }

@media screen and (max-width: 900px) {
  main .card-contenedor {
    margin-left: 150px; } }

@media screen and (max-width: 650px) {
  main .card-contenedor {
    margin-left: 50px; } }

@media screen and (max-width: 562px) {
  main .card {
    width: 230px;
    height: 550px; }
  main .card-contenedor {
    margin-left: 10px; }
  main .card-img-top {
    width: 150px;
    height: 150px; }
  main .card-title {
    font-size: 20px; }
  main .card-text {
    font-size: 18px; } }

@media screen and (max-width: 485px) {
  main .card {
    width: 50px;
    height: 500px; }
  main .card-contenedor {
    display: flex;
    justify-content: left; } }

/*-----LENTES-----*/
@media screen and (max-width: 485px) {
  main .card {
    width: 50px;
    height: 500px; }
  main .card-contenedor {
    display: flex;
    justify-content: left; } }
