@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;400;600&display=swap");
* {
  margin: 0;
  padding: 0; }

.fondo {
  height: 100%;
  width: 100%;
  background-image: url(../img/fondo.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.fondoDos {
  height: 100%;
  width: 100%;
  background-image: url(../img/pizarron.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

header {
  display: flex;
  background-image: url(../img/header.png);
  height: 70px; }
  header nav ul li {
    display: flex;
    margin-top: 12px; }
    header nav ul li img {
      width: 45px;
      height: 45px;
      margin-left: 50px; }
    header nav ul li P {
      color: black;
      font-family: 'Rokkitt', serif;
      font-size: 28px;
      margin-top: 2px;
      margin-left: 50px; }
    header nav ul li a {
      text-decoration: none;
      font-size: 20px;
      font-family: 'Rokkitt', serif;
      color: black;
      margin-top: 8px;
      margin-left: 90px; }

main .catalogo {
  display: flex;
  justify-content: center;
  align-items: center; }

/*-----INDEX-----*/
main .hero h1 {
  font-size: 50px;
  font-weight: 200px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  margin-top: 400px; }

main .hero h2 {
  font-size: 35px;
  font-weight: 10px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 5px;
  color: white;
  text-align: center; }

main .inicio h2 {
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  margin-top: 470px; }

main section .muestras {
  margin-left: 100px;
  width: 350px;
  height: 350px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  main section .muestras img {
    width: 300px;
    height: 300px;
    margin-left: 250px; }
  main section .muestras p {
    width: 350px;
    height: 50px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Rokkitt', serif;
    color: white;
    text-align: center;
    margin-left: 250px; }

main .texto h2 {
  font-size: 35px;
  font-weight: bold;
  font-weight: 200px;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  margin-top: 100px; }

main .texto p {
  font-size: 25px;
  font-weight: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  margin-bottom: 100px; }

main .catalogo {
  flex-wrap: wrap; }
  main .catalogo div {
    width: 350px;
    height: 450px;
    border: 5px solid #743a0c;
    margin: 40px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8c786; }
    main .catalogo div img {
      width: 340px;
      height: 300px; }
    main .catalogo div a {
      text-decoration: none;
      font-size: 25px;
      font-family: 'Rokkitt', serif;
      color: black;
      text-align: center; }

main .informacion h2 {
  font-size: 35px;
  font-weight: bold;
  font-weight: 200px;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 8px;
  color: white;
  text-align: center;
  margin-top: 100px; }

main .informacion p {
  font-size: 25px;
  font-weight: 50px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Rokkitt', serif;
  letter-spacing: 5px;
  color: white;
  text-align: center;
  margin-bottom: 100px; }

main .carrousel.inner {
  width: 90%;
  height: 500px;
  margin-left: 90px; }

main .carousel-inner iframe {
  width: 90%;
  height: 500px;
  margin-left: 90px; }

main .carousel-control-prev {
  width: 30%;
  height: 90%; }

main .carousel-control-next {
  width: 30%;
  height: 90%; }

/*-----CAMARAS/LENTES/LUCES/ACCESORIOS-----*/
main .card {
  background-color: #f8c786;
  border: 5px solid #743a0c;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px; }

main .card-contenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  main .card-contenedor .card-img-top {
    width: 250px;
    height: 250px; }
  main .card-contenedor .card-title {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    font-weight: bolder; }
  main .card-contenedor .card-text {
    font-family: 'Rokkitt', serif;
    font-size: 18px; }

footer .pie {
  width: 100%;
  display: flex;
  justify-content: right;
  background-image: url(../img/header.png);
  height: 60px;
  margin-top: 4%; }
  footer .pie img {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-top: 15px; }

/*----MEDIAQ----*/
/*----INDEX----*/
@media screen and (max-width: 1720px) {
  main section .muestras {
    margin-left: 100px;
    display: inline-block;
    align-content: center;
    justify-content: left; }
  main section .muestras img {
    margin-left: 0px; }
  main section .muestras p {
    margin-left: 0px; } }

@media screen and (max-width: 1400px) {
  main section .muestras {
    margin-left: 50px;
    display: inline-block;
    align-content: center;
    justify-content: left; }
  main section .muestras img {
    margin-left: 0px; }
  main section .muestras p {
    margin-left: 0px; }
  main .carousel-inner {
    width: 90%;
    height: 400px;
    margin-left: 70px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 400px;
    margin-left: 70px; } }

@media screen and (max-width: 1260px) {
  main section .muestras {
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  main section .muestras img {
    margin-top: 150px; }
  main section .muestras p {
    margin-top: 0px; } }

@media screen and (max-width: 1220px) {
  header nav ul li a {
    margin-left: 50px; } }

@media screen and (max-width: 1100px) {
  main .carousel-inner {
    width: 90%;
    height: 300px;
    margin-left: 50px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 300px;
    margin-left: 50px; } }

@media screen and (max-width: 1020px) {
  header nav ul li img {
    margin-left: 0px; }
  header nav ul li p {
    margin-left: 0px; }
  header nav ul li a {
    margin-left: 30px; } }

@media screen and (max-width: 960px) {
  main section .muestras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px; } }

@media screen and (max-width: 805px) {
  header nav ul li img {
    margin-left: 0px; }
  header nav ul li p {
    margin-left: 0px; }
  header nav ul li a {
    margin-left: 10px; } }

@media screen and (max-width: 745px) {
  main .hero h1 {
    font-size: 40px;
    margin-top: 200px; }
  main .hero h2 {
    font-size: 25px; }
  main .inicio {
    font-size: 35px;
    margin-top: 350px; }
  main section .muestras {
    margin-left: 150px; }
  main .carousel-inner {
    width: 90%;
    height: 200px;
    margin-left: 30px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 200px;
    margin-left: 30px; } }

@media screen and (max-width: 700px) {
  header {
    background-image: none;
    background-color: rgba(248, 199, 134, 0.726);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px; }
    header nav ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 12px; }
      header nav ul li img {
        margin-left: 300px; }
      header nav ul li p {
        margin-left: 0px; }
      header nav ul li a {
        margin-left: 0px; } }

@media screen and (max-width: 635px) {
  main section .muestras {
    display: inline-block;
    flex-direction: column; }
  main section .muestras img {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: 55px; } }

@media screen and (max-width: 530px) {
  main .hero h1 {
    font-size: 30px;
    margin-top: 100px; }
  main .hero h2 {
    font-size: 20px; }
  main .inicio h2 {
    font-size: 25px;
    margin-top: 200px; }
  main section .muestras {
    display: inline-block;
    flex-direction: column;
    margin-left: 40px; }
  main section .muestras img {
    margin-top: 15px;
    margin-left: 50px; }
  main section .muestras p {
    margin-left: 20px; }
  main .texto h2 {
    font-size: 25px; }
  main .texto p {
    font-size: 20px; }
  main .informacion h2 {
    font-size: 25px; }
  main .informacion p {
    font-size: 20px; }
  main .carousel-control-prev {
    width: 40%;
    height: 100%; }
  main .carousel-control-next {
    width: 40%;
    height: 100%;
    margin-right: 30px; }
  main .carousel-inner {
    width: 90%;
    height: 200px;
    margin-left: 10px; }
  main .carousel-inner iframe {
    width: 90%;
    height: 200px;
    margin-left: 10px; } }

@media screen and (max-width: 408px) {
  header nav ul li img {
    margin-left: 150px; }
  header nav ul li p {
    margin-left: 0px; }
  header nav ul li a {
    margin-left: 0px; }
  main section .muestras {
    display: inline-block;
    flex-direction: column;
    margin-left: 30px; }
  main section .muestras img {
    margin-top: 15px; }
  main section .muestras p {
    font-size: 20px;
    margin-left: 10px; } }

@media screen and (max-width: 360px) {
  main section .muestras {
    width: 250px;
    height: 250px;
    display: inline-block;
    flex-direction: column;
    margin-left: 10px; }
  main section .muestras img {
    margin-top: 15px;
    width: 200px;
    height: 200px;
    margin-left: 50px; }
  main section .muestras p {
    width: 250px;
    height: 80px;
    font-size: 25px;
    margin-left: 20px; }
  main .catalogo div {
    width: 250px;
    height: 450px; }
    main .catalogo div img {
      width: 240px;
      height: 300px; } }

/*-----CAMARAS-----*/
@media screen and (max-width: 1200px) {
  main .card-contenedor {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px; } }

@media screen and (max-width: 1050px) {
  main .card-contenedor {
    display: contents;
    justify-content: center; } }

@media screen and (max-width: 950px) {
  main .card-contenedor {
    display: flex; } }

@media screen and (max-width: 562px) {
  main .card {
    height: 680px; }
  main .card-contenedor {
    margin-left: 10px; }
    main .card-contenedor .card-img-top {
      width: 180px;
      height: 180px; } }

@media screen and (max-width: 485px) {
  main .card {
    height: 680px; }
  main .card-contenedor {
    margin-left: 0px; }
    main .card-contenedor .card-img-top {
      width: 130px;
      height: 130px; } }

/*-----LENTES-----*/
@media screen and (max-width: 565px) {
  main .contenedor-lentes .card {
    height: 450px; } }

/*-----LUCES-----*/
@media screen and (max-width: 565px) {
  main .contenedor-luces .card {
    height: 550px; } }

/*-----ACCESORIOS-----*/
@media screen and (max-width: 1205px) {
  main .contenedor-accesorios .card-contenedor {
    display: inline-block; } }

@media screen and (max-width: 995px) {
  main .contenedor-accesorios .card-contenedor {
    display: flex; } }

@media screen and (max-width: 565px) {
  main .contenedor-accesorios .card {
    height: 300px; } }
