@import "../base/variables";

footer{
    .pie{
        width: 100%;
        display: flex;
        justify-content: right;
        background-image: url(../img/header.png);
        height: 60px;
        margin-top: 4%;
        img{
            width: 40px;
            height: 40px;
            margin: 10px;
            margin-top: 15px;
        }
    }
}