@import "../base/variables";


header {
    display: flex;
    background-image: url(../img/header.png);
    height: 70px;
    nav {
        ul {
            li {
                display: inline-block;
                margin-top: 12px;
                a {
                img {
                width: 45px;
                height: 45px;
                margin-left: 50px;
                }     
                }
            }
        }
    }
    P {
        color: black;
        font-family: 'Rokkitt', serif;
        font-size: 28px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .carrito {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 1500px;
        // /*tendria que poner el margin left de esta forma porque no me tomaba el margin right porque me rompe todo */
    }
}