@import "../base/variables";


header {
    display: flex;
    background-image: url(../img/header.png);
    height: 70px;
    nav {
        ul {
            li {
                display:flex;
                margin-top: 12px;
                img {
                    width: 45px;
                    height: 45px;
                    margin-left: 50px;
                }
                P {
                    color: black;
                    font-family: 'Rokkitt', serif;
                    font-size: 28px;
                    margin-top: 2px;
                    margin-left: 50px;
                    
                }
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-family: 'Rokkitt', serif;
                    color: black;
                    margin-top: 8px;
                    margin-left: 90px;  
                }
            }
        }
    } 
}