/*----MEDIAQ----*/
/*----INDEX----*/
@media screen and (max-width:1720px){
    main{
        section{
            .muestras{
                    margin-left: 100px;
                    display: inline-block;
                    align-content: center;
                    justify-content:left;
            }
            .muestras img{
                     margin-left: 0px;    
            }
            .muestras p{
                    margin-left: 0px;
             }
        }
    }
}   
@media screen and (max-width:1400px){
    main{
        section{
            .muestras{
                margin-left: 50px;
                display: inline-block;
                align-content: center;
                justify-content:left;
            }
            .muestras img{
                margin-left: 0px;    
            }
            .muestras p{
                margin-left: 0px;
            }
        }
        .carousel-inner{
            width: 90%;
            height: 400px;
            margin-left: 70px;
        }
        .carousel-inner iframe{
            width: 90%;
            height: 400px;
            margin-left: 70px;
        }
    }
}
@media screen and (max-width:1260px){
   main{
    section{
        .muestras{
            margin-left: 400px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content:center;
        }
        .muestras img{
            margin-top: 150px;    
        }
        .muestras p{
            margin-top: 0px;
        }
    }
   }
}
@media screen and (max-width:1220px){
    header{
        nav{
            ul{
                li{
                    a{
                    margin-left: 50px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1100px){
   main{
        .carousel-inner{
            width: 90%;
            height: 300px;
            margin-left: 50px;
        }
        .carousel-inner iframe{
            width: 90%;
            height: 300px;
            margin-left: 50px;
        }
   }
}
@media screen and (max-width:1020px){
    header{
        nav{
            ul{
                li{
                    img{
                        margin-left: 0px;
                    }
                    p{
                        margin-left: 0px;
                    }
                    a{
                    margin-left: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:960px){
    main{
        section{
             .muestras{
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    margin-left: 200px;
            }
        }
    }
}
@media screen and (max-width:805px){
    header{
        nav{
            ul{
                li{
                    img{
                        margin-left: 0px;
                    }
                    p{
                        margin-left: 0px;
                    }
                    a{
                    margin-left: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:745px){
    main{
        .hero{
            h1{
                font-size: 40px;
                margin-top: 200px; 
            }
            h2{
               font-size: 25px; 
            }
        }
        .inicio{
                font-size: 35px;
                margin-top: 350px;
        }
        section{
            .muestras{
                margin-left: 150px;
            }
        }
        .carousel-inner{
                width: 90%;
                height: 200px;
                margin-left: 30px;
        }
        .carousel-inner iframe{
                width: 90%;
                height: 200px;
                margin-left: 30px;
        }
    }
} 
@media screen and (max-width:700px){
    header{
        background-image:none;
        background-color: rgba(248, 199, 134, 0.726);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 300px; 
        nav{
            ul{
                li{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 12px;
                    img{
                        margin-left: 300px;
                    }
                    p{
                        margin-left: 0px;
                    }
                    a{
                    margin-left: 0px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:635px){
    main{
        section{
            .muestras{
                    display:inline-block;
                    flex-direction:column;
            }
            .muestras img{
                    width: 200px;
                    height: 200px;
                    margin-top: 15px; 
                    margin-left: 55px;
            }
        }
    }
}
@media screen and (max-width:530px){
    main{
        .hero{
            h1{
                font-size: 30px;
                margin-top: 100px; 
            }
            h2{
                font-size: 20px;
            }
        }
        .inicio{
            h2{
                font-size: 25px;
                margin-top: 200px;
            }
        }
        section{
            .muestras{
                    display:inline-block;
                    flex-direction:column;
                    margin-left: 40px;
            }
            .muestras img{
                    margin-top: 15px; 
                    margin-left: 50px;
            }
            .muestras p{
                margin-left: 20px;
            }
        }
        .texto{
            h2{
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
        .informacion{
            h2{
                font-size: 25px;
            }
            p{
                font-size: 20px;
            }
        }
        .carousel-control-prev{
                width: 40%;
                height: 100%;
        }
        .carousel-control-next{
                width: 40%;
                height: 100%;
                margin-right: 30px;
        }
        .carousel-inner{
                width: 90%;
                height: 200px;
                margin-left: 10px;
        }
        .carousel-inner iframe{
                width: 90%;
                height: 200px;
                margin-left: 10px;
        }
    } 
}
@media screen and (max-width:408px){
    header{
        nav{
            ul{
                li{
                    img{
                        margin-left: 150px;
                    }
                    p{
                        margin-left: 0px;
                    }
                    a{
                    margin-left: 0px;
                    }
                }
            }
        }
    }
    main{
        section{
            .muestras{
                    display:inline-block;
                    flex-direction:column;
                    margin-left: 30px;
            }
            .muestras img{
                    margin-top: 15px; 
            }  
            .muestras p{
                    font-size: 20px;
                    margin-left: 10px;
            }
        }
    }
}
@media screen and (max-width:360px){
    main{
        section{
            .muestras{
                    width: 250px;
                    height: 250px;
                    display:inline-block;
                    flex-direction:column;
                    margin-left: 10px;
            }
            .muestras img{
                    margin-top: 15px; 
                    width: 200px;
                    height: 200px;
                    margin-left: 50px;
            }  
            .muestras p{
                    width: 250px;
                    height: 80px;
                    font-size: 25px;
                    margin-left: 20px;
            }
        }
        .catalogo{
            div{
                width: 250px;
                height: 450px;
                img{
                    width: 240px;
                    height: 300px;
                }
            }
        }
    }
}

/*-----CAMARAS-----*/
@media screen and (max-width:1200px){
    main{
        .card-contenedor{
                display:inline-flex;
                justify-content:center;
                flex-direction: column;
                margin-left: 50px;
        }
    }
}
@media screen and (max-width:1050px){
    main{
        .card-contenedor{
            display:contents;
            justify-content:center;
        }
    }
}
@media screen and (max-width:950px){
    main{
        .card-contenedor{
            display:flex;
        }
    }
}
@media screen and (max-width:562px){
    main{
         .card{
                height: 680px;    
        }
        .card-contenedor{
                margin-left: 10px;
                .card-img-top{
                    width: 180px;
                    height: 180px;
                }
        }
    }
}
@media screen and (max-width:485px){
    main{
        .card{
            height: 680px; 
        }
        .card-contenedor{
            margin-left: 0px;
            .card-img-top{
                width: 130px;
                height: 130px;
            }
        }
    } 
}


/*-----LENTES-----*/
@media screen and (max-width:565px){
    main{
        .contenedor-lentes{
            .card{
                height: 450px;
            }
        }
    } 
}

/*-----LUCES-----*/
@media screen and (max-width:565px){
    main{
        .contenedor-luces{
            .card{
                height: 550px;
            }
        }
    } 
}

/*-----ACCESORIOS-----*/
@media screen and (max-width:1205px){
    main{
        .contenedor-accesorios{
                .card-contenedor{
                    display:inline-block;
                }
        }
    } 
}
@media screen and (max-width:995px){
    main{
        .contenedor-accesorios{
                .card-contenedor{
                    display:flex;
                }
        }
    } 
}
@media screen and (max-width:565px){
    main{
        .contenedor-accesorios{
            .card{
                height: 300px;
            }
        }
    } 
}